.inicio-background {
    background-color: gray;
    background-image: url(../../images/image1.jpeg);
    color: white;
    
    background-position: 50% 0;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.inicio-background .tittle {
    font-family: Champagne;
    font-size: 50px;
    margin-top: 390px;
    margin-bottom: 25px;
}
.inicio-background .sub-tittle {
    font-family: White Dream;
    font-size: 40px;
    margin-bottom: 25px;
}
.frase-background{
    background-color: gray;
    background-image: url(../../images/image2.jpeg);
    color: white;
    
    background-position: 50% 0;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.frase-background h2{
    font-family: Pergola;
    font-size: 20px;
    margin-top: 500px;
    margin-bottom: 50px;
}