.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Champagne';
  src: local('Champagne'), url(./fonts/Champagne/Champagne.ttf) format('opentype');
}
@font-face {
  font-family: 'Galgony';
  src: local('Galgony'), url(./fonts/galgony/Galgony.ttf) format('opentype');
}
@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./fonts/roboto/roboto.ttf) format('opentype');
}
@font-face {
  font-family: 'Pergola';
  src: local('Pergola'), url(./fonts/pergola/pergola.otf) format('opentype');
}
@font-face {
  font-family: 'White Dream';
  src: local('White Dream'), url(./fonts/whiteDream.otf) format('opentype');
}
@font-face {
  font-family: 'Birds';
  src: local('Birds'), url(./fonts/birds.ttf) format('opentype');
}